/* Configuration de bases */
*{ 
    margin: 0;
    padding: 0;
    box-sizing:0;
    font-family: 'Raleway', sans-serif;
    color: black;
}

p{
    font-size: 13px;
}

.container{
    padding: 0px 40px 40px 40px;
    background-color:#F2F2F2;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    }

/* .menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    } */
    
    .logoboite{
        flex-basis: 60%;   
    }
    
.nav_hebergement{
    padding: 33px 20px 33px 20px;    
    color: #0065FC;
    border-top:#0065FC solid ;
    
}


.nav_activites{
    margin: 33px;
   
}

.nav_sinscrire{
    margin: 33px;
    color: #0065FC;
    font-weight: bold;
    
}

/* TITRE */

.titre{
    margin: 10px 0px 10px 0px;
    }

.titre h1{
    font-size: 20px;
    font-weight:bolder;
    margin-bottom: 5px;
}

/* BOUTON RECHERCHE */
.recherche{
    display: flex;
  }

.map{
    background-color: rgb(230, 230, 230);
    padding: 13px 20px 13px 20px;
    border-radius: 15px 0 0 15px ;
}

.saisie{
    border-style: none;
    padding-left: 20px;
    padding-right: 30px;
    font-weight: bolder;
    color: black;
    outline: none;
    
}

.bouton{
    align-self: center;
    padding: 13px 20px 13px 20px;
    text-decoration: none;
    background-color: #0065FC;
    border-radius: 0 15px  15px 0;
       
}

.bouton p{
    color:white;
    font-weight: bolder;
}

.bouton i{
    display: none;
}



/* LES FILTRES */

.bandeau_filtres{
    display: flex;
    flex-wrap: wrap;
    margin: 11px;
    align-items: center;
    font-weight: bold;
}
.filtre{
    display: flex;
    margin: 11px;
    border-style:solid;
    border-width:2px;
    border-radius: 60px;
    border-color: #d6d6d6;
    padding-right: 10px;
}

.filtre:hover{
    background-color: #d6d6d6;
    transition: 0.25s;
}

/* economique */
.icone_economique{
    height: 35px;
    width: 35px;
    background-color:rgb(192, 211, 247);
    clip-path:circle(50% at 50% 50%);
    position: relative;
}

.icone_economique i {
    color: #0065FC;
   position: absolute;
   top: 25%;
   right: 25%;
  }
.txt_economique{
    margin-left: 10px;
    align-self: center;

}

/* familial */

.icone_familial{
    height: 35px;
    width: 35px;
    background-color:rgb(192, 211, 247);
    clip-path:circle(50% at 50% 50%);
    position: relative;
}

.icone_familial i {
    color: #0065FC;
   position: absolute;
   top: 25%;
   right: 37%;
  }

.txt_familial{
    margin-left: 10px;
    align-self: center;
}

/* romantique */

.icone_romantique{
    height: 35px;
    width: 35px;
    background-color:rgb(192, 211, 247);
    clip-path:circle(50% at 50% 50%);
    position: relative;
}

.icone_romantique i {
    color: #0065FC;
   position: absolute;
   top: 30%;
   right: 30%;
  }

.txt_romantique{
    margin-left: 10px;
    align-self: center;
}

/* animaux */

.icone_animaux{
    height: 35px;
    width: 35px;
    background-color:rgb(192, 211, 247);
    clip-path:circle(50% at 50% 50%);
    position: relative;

}
.icone_animaux i {
    color: #0065FC;
   position: absolute;
   top: 25%;
   right: 30%;
  }

.txt_animaux{
    margin-left: 10px;
    align-self: center;
}



/* INFO */

.info{
    display: flex;
    margin: 15px 0 15px 0;
    align-items: center;
}

.info i {
    color: #0065FC;
    margin: 10px;
}

/* BLOCK HORIZONTAL: HEBERGEMENT à gauche et POPULAIRE à droite*/
.hebergement{
    display: flex;
    justify-content:space-between;
    width: 100%;
}


/* HEBERGEMENT A MARSEILLE */

.H_marseille{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #e6e6e6  ;
    border-radius: 20px;
    padding: 20px 0px 20px 15px;
    margin-right: 20px;
    
}

.HM_titre{
    margin-left: 20px;
    margin-top: 10px;
}
.HM_gallery{
    display: flex;
    flex-wrap: wrap;
}

/* mise en page des annonces des herbergements à marseilles */
.Hmars{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
    width: 210px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin: 12px;
    padding: 4px;
    box-shadow: 0px 10px 10px rgb(219, 219, 219);

}
/* Dimension images */
.H_img1{
    height: 105px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-image: url(/images/hebergements/4_small/1.jpg);
    border-radius: 15px 15px 0 0;
}

.H_img2{
    height: 105px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-image: url(/images/hebergements/4_small/2.jpg);
    border-radius: 15px 15px 0 0;
}
.H_img3{
    height: 105px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-image: url(/images/hebergements/4_small/3.jpg);
    border-radius: 15px 15px 0 0;
}
.H_img4{
    height: 105px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-image: url(/images/hebergements/4_small/4.jpg);
    border-radius: 15px 15px 0 0;
}
.H_img5{
    height: 105px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-image: url(/images/hebergements/4_small/5.jpg);
    border-radius: 15px 15px 0 0;
}
.H_img6{
    height: 105px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-image: url(/images/hebergements/4_small/6.jpg);
    border-radius: 15px 15px 0 0;
}

/* indentation du texte sous l'image */
.H_nom, .H_prix, .etoiles{
    padding-left: 10px;
}

/* Style de la notion en étoile */

.etoiles{
    display:flex;
}

.etoile_pleine{
    color:#0065FC;
}
.etoile_vide{
    color: rgb(202, 202, 202);
}

/* Style élements cliquables */
a{
    text-decoration: none;
}

/* Afficher plus */
.afficher{
    font-weight: bold;
}

/* SECTION POPULAIRES */

/* mise en page titre populaire */
.titre_populaires{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.pop_titre{
    margin-left: 20px;
}
.titre_populaires i{
    margin-right: 20px;
}

/* Strucure */

.populaires{
    width: 60%;
    background-color: #e6e6e6  ;
    border-radius: 20px;
    padding: 20px 15px 20px 0;
    margin-left: 20px;
}
.pop_gallery{
    display: flex;
    flex-direction: column;
}

/* mise en page des annonces des Populaires */
.Hpop{
    display: flex;
    height: 115px;
    width: 85%;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin: 20px;
    padding: 4px;
    box-shadow: 0px 10px 10px rgb(219, 219, 219);
    }

/* Dimension images */

.pop_img1{
    width: 135px;
    height:auto;
    background-image: url(/images/hebergements/4_small/7.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px 0 0 10px;
}

.pop_img2{
    width: 135px;
    height:auto;
    background-image: url(/images/hebergements/4_small/8.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px 0 0 10px;
}
.pop_img3{
    width: 135px;
    height:auto;
    background-image: url(/images/hebergements/4_small/9.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px 0 0 10px;
}


.detail_HM{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
}

/* ACTIVITE A MARSEILLE */
.A_marseille{
    margin: 40px 0px 40px 0px;
}

.A_titre{
    margin: 15px 0 15px 0;
}

/* structure de la gallerie */
/* avec flexbox */

.A_gallery{
    display: flex;
    justify-content: space-between;
}


/* Mise en page des affiches des activités */

.A_colonne_solo,.A_colonne_duo{
    width: 22%;    
}

.A1, .A4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
    box-shadow:0 10px 10px 3px rgb(230, 230, 230);
    height: 400px;
    
}

.A2, .A6{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
    box-shadow:0 10px 10px 3px rgb(230, 230, 230);
    height: 200px;
  
}

.A3, .A5{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
    box-shadow:0 10px 10px 3px rgb(230, 230, 230);
    height: 170px;
   }


/* Separation des 2 affiches dans 1 colonnes, on peut aussi le faire avec flex/column/spacebetween sur la class A_colonne_duo*/
.A2, .A5{
    margin-bottom: 32px ;
}

.A_gallery p{
    margin: 20px;
}

/* Dimension des images */

.A_im1{
    width: auto;
    height:400px;
    background-image: url(/images/activites/4_small/1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
.A_im2{
    width: auto;
    height:150px;
    background-image: url(/images/activites/4_small/2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
.A_im3{
    width: auto;
    height:150px;
    background-image: url(/images/activites/4_small/3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
.A_im4{
    width: auto;
    height:400px;
    background-image: url(/images/activites/4_small/4.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
.A_im5{
    width: auto;
    height:150px;
    background-image: url(/images/activites/4_small/5.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
.A_im6{
    width: auto;
    height:150px;
    background-image: url(/images/activites/4_small/6.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}



/* FOOTER */
footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #e6e6e6;
    font-size: small;
}

footer h2{
    font-size: medium;
}

footer ul{
    list-style: none;
}
footer li {
    margin: 10px;
}

.a_propos{
    margin: 30px 75px 30px 60px;
}

.liste_propos{
    margin-top: 15px;
}

.nos_hebergements{
    margin: 30px 75px 30px 75px;
}

.liste_hebergement{
    margin-top: 15px;
}

.assistance{
    margin: 30px 75px 30px 75px;
}

.liste_assistance{
    margin-top: 15px;
}



/* VERSION MOBILE */

@media all and (max-width: 650px){

   

    /* MARGES */
    .container{
        padding: 0;
    }

    /* HEADER */

    header{
    
        flex-wrap: wrap;
        justify-content: center;
    }

    .logoboite{
        padding-left: 5%;   
    }
    
    .nav_hebergement{
        order: 1;
        margin: 0;
        width: 50%;
        text-align: center;
        padding:0 0 10px 0;
        border-bottom:#0065FC solid ;
        border-top:none ;
    }

    .nav_activites{
        order: 2;
        margin: 0;
        width: 50%;
        padding:0 0 10px 0;
        border-bottom:#d4d4d4 solid;
        text-align: center;
    }

    .nav_sinscrire{
        order: 0;}


    /* TITRE */
    .titre{
        margin: 7%;
    }

    /* BOUTON RECHERCHE */

    .recherche{
        margin-left: 5%;
        padding: 0;
        align-self: center;
    }

    .bouton{
        padding: 13px ;
        border-radius: 15px;
        position: relative;
        left: -10px;           
    }

    .bouton p{
        display: none;
    }
    
    .bouton i{
        display:flex;
        color: white;
    }

    /* BANDEAU FILTRE */
    .txt_filtre{
        margin-top: 5%;
        margin-left: 5%;
        width: 100%;
    }
    .txt_filtre,.txt_romantique,.txt_familial,.txt_economique,.txt_animaux{
        font-size:85%;
    }

    .filtre{
        margin: 1%;
    }

    
/* BLOC CENTRAL */

    .hebergement{
        flex-direction: column;
        
    }

    .H_marseille{
        width: 100%;
        order: 1;
        background-color: #F2F2F2;
       
    }

    .HM_titre{
        margin-top: 30px;
    }
    .Hmars{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 170px;
        width: 80%;
        background-color: #F2F2F2;
        border-radius: 20px;
        margin: 5%;
        padding: 0;
    }

    .afficher{
        margin: 5%;
    }
    
/* POPULAIRES */
    .populaires{
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }

    /* Dimension images */

.pop_img1,.pop_img2,.pop_img3{
    width:40%;
}

/* ACTIVITES */

.A_titre{
    margin: 5%;
}
.A_gallery{
    flex-direction: column;
}

.A_colonne_solo,.A_colonne_duo{
    width: 100%; }

.A1,.A2,.A3,.A4,.A5,.A6{
    display: flex;
    flex-direction: column;
    height: 170px;
    margin: 5%;
    padding: 0;

}

/* FOOTER */
footer {
    flex-direction: column;
}

.a_propos, .nos_hebergements,.assistance{
    margin: 5%;
}


}


